.loader {
	background-color: #00B675;
	height: 100vh;
	width: 100vw;
}
.loader img {
	width: 30vw;
	margin-top: 25vh;
}
/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
}

.bg {
	background: url('../img/back-1.jpg') no-repeat center center fixed;
	height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
	background-size: cover;
    -o-background-size: cover;
}
.navbar-default {
	background-color: transparent;
	border-color: transparent;
}
.navbar-brand {
	font-family: 'Pacifico', cursive;
	font-size: 1.875em;
	margin: 0.3125em auto;
}
#page-head {
	color: white;
}
#page-head:hover {
	font-weight: bolder;
	-webkit-transition-duration: 10ms; /* Safari */
    transition-duration: 10ms;
}
.nav.navbar-nav li a {
	color: white;
   	font-family: 'Lato', sans-serif;
	font-size: 1.0625em;
	margin: 0.3125em auto;
 }
 .nav.navbar-nav li a:hover{
 	font-weight: bold;
 	transition-duration: 10ms;
 }
.nav.navbar-nav :hover {
	color: #001439;
 	background-color: white;
 	-webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
}
.white-text {
	color: white;
}
.head-br{
	max-width: 4.375em;
	border-width: 0.3125em;
}