h1{
	border-width: 2px;
	border-color: black;
	border-style: solid;
	text-align: center;
}
body{
	background-image: url("../img/back.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}
img{
	margin-left: auto;
	margin-right: auto;
}
.icon-bar{
	border-color: transparent;
}
#myNavbar{
	float: right;
}
.start{
	margin-top: 70px;
}
.navbar-default{
	background-color: transparent;
	border-color: transparent;
}
.navbar-header a{
	font-family: 'Pacifico', cursive;
	padding: 35px 40px; 
}
.navbar-default .navbar-nav > li > a {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
	margin-top: 3px;
	font-weight: 600;
	padding: 15px 40px; 
    margin: 10px auto;
    margin-right: 10px;
    text-align: center;
}
.navbar-default .navbar-nav > li > a:hover{
	color: #777;
}
#main-head{
	color: white;
	font-size: 35px;
	font-weight: bolder;
}
#main-head:hover{
	color: #777;
}
#place1,#place2{
	opacity: 0.5;
}