h1{
	border-width: 2px;
	border-color: black;
	border-style: solid;
	text-align: center;
}
body{
	background-image: url("../img/back.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}
img{
	margin-left: auto;
	margin-right: auto;
}
#myNavbar{
	float: right;
	color: white;
}
.navbar-brand{
	font-family: 'Pacifico', cursive;
}
.navbar-inverse{
    background-color: transparent;
    height: 70px;
    padding: 10px;
    border-color: transparent;
}
.start{
	margin-top: 70px;
}