body,
html {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif; }

.btn.btn-circle { 
    border-radius: 50px; 
    border-color:transparent;
    
    
}
.button1{
    border-radius: 50px; 
    border-color:transparent;
    background-color: #3378EC;
    color: white;
    position:relative;
    z-index: 2; 
    padding: 15px 40px; 
    margin: 10px auto;
    margin-right: 10px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    cursor: pointer;
    
    
}



.button1:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: aqua;
    text-decoration: none;
}
.btn.btn-outline {
    background-color: transparent;
    }

.navbar-brand {
     position: relative; 
     z-index: 2;
     margin: 5px auto;
     }


.navbar-nav.navbar-right .btn { 
    position:relative;
    z-index: 2; 
    padding: 10px 30px; 
    margin: 10px auto;
    margin-right: 10px;
    text-align: center;
    transition-duration: 0.4s;
    color: white;
     
  }

.navbar-nav.navbar-right .btn:hover{
    background-color:#3378EC;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}



#mainNav {
    
    border-color: rgba(34, 34, 34, 0.05);
    background-color: white;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    
    
    
}
#mainNav .navbar-brand {
      font-weight: 700;
      text-transform: uppercase;
      color: #3378EC;
      font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
     }

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
        color: #3378EC; 
      }
    
#mainNav .navbar-toggle {
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      color: #222222; 
    }
      
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus,
#mainNav .navbar-nav > li.nav-item > a.nav-link {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222; 
      }

   
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
          color: white;
        }
        
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
          color: white !important;
          background-color: transparent; 
        }
          
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
            background-color: transparent;
        }
    
     
     
@media (min-width: 992px) {
    #mainNav {
              border-color:transparent;
              background-color:transparent;
              /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);  */
             }
              
    #mainNav .navbar-brand {
                color: rgba(255, 255, 255, 0.7); 
                }
                
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
                  color: white; 
                }
              
    #mainNav .navbar-nav > li.nav-item > a.nav-link,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
                color: rgba(255, 255, 255, 0.7); 
                }
                
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
                  color: white; 
                }
              
    #mainNav.navbar-shrink {
                border-color: rgba(34, 34, 34, 0.05);
                background-color: white; 
                }
    #mainNav.navbar-shrink .navbar-brand {
                  font-size: 16px;
                  color: #3378EC; 
                }
    #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
                    color: #3378EC; 
                }

    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
                      color: #222222; 
                }
                
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
                        color: white; 
                } 
                      
}
               
    
.bg-1 {
        background-color:	white;
        color: #ffffff;
        height: 100vh;
        background-image: url("../images/header.jpg");
        background-size: cover;
        /* background-attachment: fixed; */
        
        
        
    }

    .bg-2 {
        background-color:#0066ff;
        color: #ffffff;
        height: 40%;
        background-image: url("../images/qoute.jpg");
        background-attachment: fixed;
        background-size: cover;
    }

    


.card {
      font-size: 1em;
      overflow: hidden;
      padding: 0;
      border: none;
      border-radius: .28571429rem;
      /* box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5; */
      background-color: #3378EC;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      transition-duration: 0.4s;
  }

.card:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
  
  
  
  .card-img-top {
      display: block;
      width: 100%;
      height: auto;
  }
 
  .qoute{
    color: white;
    font-size: 1000%;
    
    
}



/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#my-car.carousel {
    padding-bottom: 60px;
    
  }
  #my-car.carousel .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
        -ms-transition-property: opacity;
            transition-property: opacity;
  }
  #my-car.carousel .carousel-inner .active {
    opacity: 1;
    -webkit-transition-property: opacity;
        -ms-transition-property: opacity;
            transition-property: opacity;
  }
  #my-car.carousel .carousel-indicators {
    bottom: 10px;
  }
  #my-car.carousel .carousel-indicators > li {
    background-color: white;
    border: none;
  }

  #my-car.carousel-control
  {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
  }
  /* Previous button  */
  #my-car.carousel-control.left 
  {
    left: -12px;
    
  }
  /* Next button  */
  #my-car.carousel-control.right 
  {
    right: -12px !important;
  }

  .customer-quote{
      padding-top: 0px;
  }
  

  @media (max-width: 768px) { 
    .qoute{
        color: white;
        font-size: 700%;
        
        
    }

}



.bg-3 {
    background-color:	aqua;
    color: #ffffff;
    height: 50vh;
}